---
import { Image } from "astro:assets";
import { formatDate } from "@utils/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  blogEntry: {
    id: string; // Tambahkan properti 'id' ini
    collection: string; // Tambahkan properti 'collection' ini
    data: {
      author: string;
      pubDate: Date;
      cardImage: { url: string; altText: string };
    };
  };
}

const { blogEntry } = Astro.props;
---
<div class="flex-shrink-0">
  <img
    class="size-16 rounded-full object-cover"
    src={blogEntry.data.cardImage.url}
    alt={blogEntry.data.cardImage.altText}
    draggable="false"
  />
</div>