---
import { client } from "../../lib/sanity.ts";
import { capitalize } from "@utils/utils";
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";

// Definisi tipe data
type BlogEntry = {
  title: string;
  slug: string;
  author: string;
  cardImage: { url: string; altText: string };
  pubDate: Date;
  readTime: number;
};

// Ambil semua data blog dari Sanity
const blogEntries: BlogEntry[] = await client.fetch(
  `*[_type == "post"] | order(pubDate desc){
    "slug": slug.current,
    title,
    "author": author->name,
    "cardImage": mainImage.asset->{url, altText},
    pubDate,
    readTime
  }`
);
---

<MainLayout
  title="Blog"
  customDescription="Jelajahi blog kami untuk mendapatkan informasi terbaru tentang teknologi dan inovasi."
>
  <section
    class="relative mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14"
  >
    <div class="mb-10 max-w-2xl">
      <h1
        class="text-balance text-3xl font-bold tracking-tight text-neutral-800 md:text-5xl lg:leading-tight dark:text-neutral-200"
      >
        Blog
      </h1>
      <p class="mt-4 text-pretty text-neutral-600 dark:text-neutral-400">
        Jelajahi artikel kami untuk mendapatkan wawasan dan informasi terbaru.
      </p>
    </div>

    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        blogEntries.map((entry) => (
          <CardBlog
            blogEntry={{
              data: {
                title: entry.title,
                slug: entry.slug,
                author: entry.author,
                cardImage: {
                  url: entry.cardImage.url,
                  altText: entry.cardImage.altText || "Gambar",
                },
                pubDate: new Date(entry.pubDate),
                readTime: entry.readTime,
              },
            }}
          />
        ))
      }
    </div>
  </section>
</MainLayout>